RewriteEngine On
RewriteCond %{index.html} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{about.html}} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{404.html} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]